@font-face {
  font-family: JalnaGothic;
  src: url('/assets/fonts/JalnanGothic.otf');
}

@font-face {
  font-family: SUIT;
  src: url('/assets/fonts/SUIT-Heavy.woff2');
}

@font-face {
  font-family: Maplestory;
  src: url('/assets/fonts/Maplestory-Bold.otf');
}
